trigger:
  branches:
    include:
    - master
  tags:
    include:
    - '*'
pr:
  autoCancel: false
  branches:
    include:
    - master

resources:
  repositories:
  - repository: PSModulePublisher
    type: github
    name: theohbrothers/PSModulePublisher
    endpoint: startersclan                   # Check for your 'Type: Github' connection under 'Project Settings' > 'Service connections'
    ref: refs/tags/v0.11.0
  - repository: PSRepositoryReleaseManager
    type: github
    name: theohbrothers/PSRepositoryReleaseManager
    endpoint: startersclan
    ref: refs/tags/v0.15.0

stages:
- stage: build_test
  displayName: Build, Test
  jobs:
  - job: windows_powershell_core
    displayName: '[Windows] PowerShell Core'
    pool:
      vmImage: windows-2022
    steps:
    - checkout: self
      submodules: recursive
    - template: templates/azure-pipelines/entrypoint/windows/build-test.yml@PSModulePublisher
  - job: linux_container_powershell_core
    displayName: '[Linux] [Container] PowerShell'
    pool:
      vmImage: ubuntu-22.04
    strategy:
      matrix:
        7.4.2:
          containerImage: joeltimothyoh/powershell:7.4.2-ubuntu-22.04-git-sudo
        7.3.9:
          containerImage: joeltimothyoh/powershell:7.3.9-ubuntu-22.04-git-sudo
        7.2.2:
          containerImage: joeltimothyoh/powershell:7.2.2-ubuntu-20.04-git-sudo
        7.1.5:
          containerImage: joeltimothyoh/powershell:7.1.5-ubuntu-20.04-git-sudo
        7.0.3:
          containerImage: joeltimothyoh/powershell:7.0.3-ubuntu-18.04-git-sudo
        6.2.4:
          containerImage: joeltimothyoh/powershell:6.2.4-ubuntu-18.04-git-sudo
        6.1.3:
          containerImage: joeltimothyoh/powershell:6.1.3-ubuntu-18.04-git-sudo
    container: $[ variables['containerImage'] ]
    steps:
    - checkout: self
      submodules: recursive
    - template: templates/azure-pipelines/entrypoint/linux/build-test.yml@PSModulePublisher
  - job: windows_powershell_5_1
    displayName: '[Windows] PowerShell 5.1'
    pool:
      vmImage: windows-2019
    steps:
    - checkout: self
      submodules: recursive
    - template: templates/azure-pipelines/entrypoint/windows/powershell/build-test.yml@PSModulePublisher
- stage: build_publish
  displayName: Build, Publish
  dependsOn: build_test
  jobs:
  - job: windows_powershell_core
    displayName: '[Windows] PowerShell Core'
    pool:
      vmImage: windows-2022
    steps:
    - checkout: self
      submodules: recursive
    - template: templates/azure-pipelines/entrypoint/windows/build-publish.yml@PSModulePublisher
- stage: release
  displayName: Release
  dependsOn: build_publish
  jobs:
  - job: linux_container_powershell_core
    displayName: '[Linux] [Container] PowerShell Core'
    pool:
      vmImage: ubuntu-22.04
    container: theohbrothers/docker-powershell:7.2-ubuntu-22.04-git
    steps:
    - checkout: self
      submodules: recursive
    - template: templates/azure-pipelines/entrypoint/generate.yml@PSRepositoryReleaseManager
    - template: templates/azure-pipelines/entrypoint/release.yml@PSRepositoryReleaseManager
